<p-dialog
  align="left"
  header="Info Dipendenti"
  [(visible)]="display2"
  styleClass="active"
  [style]="{ width: '50%' }"
  [transitionOptions]="'0ms'"
  [modal]="true"
  (onHide)="exit()"
>
  <p-tabView>
    <p-tabPanel header="Informazioni">
      <div class="row" style="margin-top: 2px;" *ngFor="let col of colsAlunni">
        <div align="left" class="col-6">
          <b> {{ col.header }}</b>
        </div>
        <div class="col-6" align="left">
          <p>{{ soggetto[col.field] }}</p>
        </div>
      </div>
      <div class="row">
        <div align="left" class="col-6">
          <b> {{ "Data Nascita" }}</b><br>
          <b> {{ "Data Assunzione" }}</b><br>
          <b> {{ "Data Scadenza Contratto" }}</b><br>
          <b> {{ "Data Fine Rapporto" }}</b><br>
          <b> {{ "Società" }}</b>
        </div>
        <div class="col-6" align="left">
          <p>{{ this.dataN }}</p>
          <p>{{ this.dataA }}</p>
          <p>{{ this.dataS }}</p>
          <p>{{ this.dataF }}</p>
          <p>{{ this.stringSoc(soggetto) }}</p>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Corso">
        <div class="row" style="margin-top: 2px;">
        <p-scrollPanel [style]="{ width: '100%', height: '200px' }">
        <p-table
          *ngIf="corsoInterno"
          [value]="corsoInterno"
          selectionMode="single"
        >
          <ng-template pTemplate="caption">
            Docente del corso
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th *ngFor="let col of colsCorso">
                {{ col.header }}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-corsi let-i="rowIndex">
            <tr>
              <td *ngFor="let col of colsCorso">
                {{ corsi[col.field] }}
              </td>
            </tr>
          </ng-template>
        </p-table>
        </p-scrollPanel>
        </div>
    </p-tabPanel>
  </p-tabView>
</p-dialog>
