.mydialog {
    width: 70%;
}

@media screen and (max-width: 40em) {
    .mydialog {
        width: 82%;
    }
}

.md-dialog-container {
    background-color: #000;
    width: 250px;
    height: 250px
}
