<p-dialog
  header="Info Docente Esterno"
  [(visible)]="display3"
  styleClass="mydialog"
  [style]="{ width: '50%' }"
  [transitionOptions]="'0ms'"
  [modal]="true"
  (onHide)="exit()"
>
  <p-tabView>
    <p-tabPanel header="Informazioni">
      <div class="row" style="margin-top: 2px;" *ngFor="let col of colsDocente">
        <div align="left" class="col-6">
          <b> {{ col.header }}</b>
        </div>
        <div class="col-6" align="left">
          <p>{{ soggetto[col.field] }}</p>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Corso">
      <div class="row" style="margin-top: 2px;">
        <p-scrollPanel [style]="{ width: '100%', height: '200px' }">
          <p-table
            *ngIf="corsi"
            [value]="corsoAssociato"
            selectionMode="single"
          >
            <ng-template pTemplate="caption">
              Docente dei Corsi
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of colsCorsi">
                  {{ col.header }}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-corsoAssociato let-i="rowIndex">
              <tr>
                <td *ngFor="let col of colsCorsi">
                  {{ corsoAssociato[col.field] }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-scrollPanel>
      </div>
    </p-tabPanel>
  </p-tabView>
</p-dialog>
