<p-dialog
  header="Valutazione Utente"
  [(visible)]="display1"
  [style]="{ width: '65%' }"
  [transitionOptions]="'0ms'"
  [modal]="true"
  (onHide)="exit()"
>
  <form *ngIf="soggetto" class="mt-3" [formGroup]="formGroup">
    <div class="container">
      <h4 *ngIf="soggetto">
        ALUNNO: {{ this.soggetto.dipendente.nome }}
        {{ this.soggetto.dipendente.cognome }}
      </h4>
      <h4 *ngIf="soggetto">CORSO: {{ this.soggetto.corso.descrizione }}</h4>
      <div class="card" style="padding: 20px;">
        <div class="row" style="margin-bottom: 10px; margin-top: 15px;">
          <div align="left" class="col-6">
            <b> 1) Impegno: </b>
          </div>
          <div
            align="center"
            class="col-4"
            style="margin-top: 7px; margin-bottom: 15px;"
          >
            <p-slider
              (onChange)="calcoloMedia()"
              [(ngModel)]="val1"
              [max]="6"
              [style]="{ width: '20em' }"
              formControlName="valore1"
            >
            </p-slider>
          </div>
          <div align="right" class="col-2">
            <b>Media: {{ val1 }}</b>
          </div>
        </div>

        <div class="row" style="margin-bottom: 10px;">
          <div align="left" class="col-6">
            <b> 2) Logica</b>
          </div>
          <div
            align="center"
            class="col-4"
            style="margin-top: 7px; margin-bottom: 15px;"
          >
            <p-slider
              (onChange)="calcoloMedia()"
              [(ngModel)]="val2"
              [max]="6"
              [style]="{ width: '20em' }"
              formControlName="valore2"
            >
            </p-slider>
          </div>
          <div align="right" class="col-2">
            <b>Media: {{ val2 }}</b>
          </div>
        </div>

        <div class="row" style="margin-bottom: 10px;">
          <div align="left" class="col-6">
            <b> 3) Apprendimento</b>
          </div>
          <div
            align="center"
            class="col-4"
            style="margin-top: 7px; margin-bottom: 15px;"
          >
            <p-slider
              (onChange)="calcoloMedia()"
              [(ngModel)]="val3"
              [max]="6"
              [style]="{ width: '20em' }"
              formControlName="valore3"
            >
            </p-slider>
          </div>
          <div align="right" class="col-2">
            <b>Media: {{ val3 }}</b>
          </div>
        </div>

        <div class="row" style="margin-bottom: 10px;">
          <div align="left" class="col-6">
            <b> 4) Velocità</b>
          </div>
          <div
            align="center"
            class="col-4"
            style="margin-top: 7px; margin-bottom: 15px;"
          >
            <p-slider
              (onChange)="calcoloMedia()"
              [(ngModel)]="val4"
              [max]="6"
              [style]="{ width: '20em' }"
              formControlName="valore4"
            >
            </p-slider>
          </div>
          <div align="right" class="col-2">
            <b>Media: {{ val4 }}</b>
          </div>
        </div>

        <div class="row" style="margin-bottom: 10px;">
          <div align="left" class="col-6">
            <b> 5) Ordine e precisione</b>
          </div>
          <div
            align="center"
            class="col-4"
            style="margin-top: 7px; margin-bottom: 15px;"
          >
            <p-slider
              (onChange)="calcoloMedia()"
              [(ngModel)]="val5"
              [max]="6"
              [style]="{ width: '20em' }"
              formControlName="valore5"
            >
            </p-slider>
          </div>
          <div align="right" class="col-2">
            <b>Media: {{ val5 }}</b>
          </div>
        </div>
      </div>

      <div class="row" style="margin-bottom: 10px;">
        <div class="col-4">
          <b> VALUTAZIONE MEDIA ALUNNO: </b>
        </div>
        <div align="left" class="col-2">
          <input
            id="inputDurata"
            type="text"
            size="4"
            value="{{ this.media }}"
            placeholder="Media"
            style="margin-top: -7px; margin-left: -30px;"
          />
        </div>
      </div>
      <div align="right" class="col-12" style="margin-top: 15px; margin: 13px;">
        <button
          pButton
          type="button"
          label="Primary"
          class="ui-button-raised ui-button-success"
          id="Conferma"
          label="Conferma"
          (click)="conferma()"
        ></button>
      </div>
    </div>
  </form>
</p-dialog>
