<div class="card" style="padding: 15px;">
  <h2 align="center">CORSI</h2>
  <hr />
  <div class="col-6" style="margin-bottom: 15px; margin-left: -14px;">
    <span class="ui-float-label">
      <form [formGroup]="formGroup" method="POST">
        <input
          id="float-input"
          type="text"
          size="30"
          formControlName="cerca"
          pInputText
        />
        <button
          type="submit"
          pButton
          icon="pi pi-search"
          style="margin-left: 0.5em;"
          (click)="cercaGlobale()"
        ></button>
      </form>
    </span>
  </div>

  <p-table [value]="lista">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols">
          {{ col.header }}
        </th>
        <th>
          {{ "Tipologia" }}
        </th>
        <th>
          {{ "Società" }}
        </th>
        <th>
          {{ "Opzioni" }}
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-corso let-i="rowIndex">
      <tr>
        <td *ngFor="let col of cols">
          {{ corso[col.field] }}
        </td>
        <td>
          {{ string(corso) }}
        </td>
        <td>
          {{ stringSoc(corso) }}
        </td>
        <td>
          <button
            pButton
            type="button"
            icon="pi pi-user-edit"
            class="ui-button ui-button-success"
            (click)="getCorsoEdit(corso)"
          ></button>
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            class="ui-button ui-button-danger"
            (click)="showDialogConf(corso)"
          ></button>

          <button
            pButton
            type="button"
            icon="pi pi-info"
            class="ui-button ui-button-primary"
            (click)="showDialog(corso)"
          ></button>
          <button
            pButton
            type="button"
            icon="pi pi-users"
            class="ui-button ui-button-warning"
            (click)="showDialogAssociazione(corso)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div class="row">
    <div class="col-4" style="padding-top: 20px; padding-bottom: 10px;">
      <b *ngIf="listaTot">{{ "Numero corsi: " }} {{ this.listaTot.length }}</b>
    </div>
    <div
      class="col-8"
      style="padding-top: 15px; padding-bottom: 10px;"
      align="right"
    >
      <button
        pButton
        type="button"
        label="Nuovo Corso "
        styleClass="ui-button-success"
        class="ui-button ui-button-primary"
        icon="pi pi-plus-circle"
        iconPos="left"
        routerLink="/nuovoCorso"
      ></button>
    </div>
  </div>
  <!-- inizio Confirm Dialog -->
  <p-dialog
    header="Sei sicuro di voler cancellare questo Corso?"
    [(visible)]="displayConf"
    styleClass="mydialog"
    [responsive]="true"
    [transitionOptions]="'0ms'"
    [modal]="true"
    [baseZIndex]="10000"
    (onHide)="exit()"
  >
    <p-scrollPanel [style]="{ width: '100%', height: '70px' }">
      <div class="row" style="margin-top: 15px;">
        <div align="right" class="col-6">
          <button
            pButton
            icon="pi pi-check"
            type="button"
            label="Danger"
            class="ui-button-raised ui-button-primary"
            id="Annulla"
            label="No"
            (click)="exit()"
          ></button>
        </div>
        <div class="col-6">
          <button
            pButton
            icon="pi pi-times"
            type="button"
            label="Primary"
            class="ui-button-raised ui-button-danger"
            label="Sì"
            (click)="elimina(corso)"
          ></button>
        </div>
      </div>
    </p-scrollPanel>
  </p-dialog>
  <!-- fine confirm dialog -->
  <div align="center" style="margin-top: -45px; margin-left: 2px;">
    <button
      type="button"
      pButton
      icon="pi pi-fast-backward"
      (click)="reset()"
      style="margin-right: 0.5em;"
      [disabled]="isFirstPage()"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-chevron-left"
      (click)="prev()"
      style="margin-right: 0.5em;"
      [disabled]="isFirstPage()"
    ></button>
    <b>{{ pagine + 1 }} {{ " di " }} {{ numeroPagine }} </b>
    <button
      type="button"
      pButton
      icon="pi pi-chevron-right"
      (click)="next()"
      style="margin-right: 0.5em; margin-left: 0.5em;"
      [disabled]="isLastPage()"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-fast-forward"
      (click)="last()"
      style="margin-right: 0.5em;"
      [disabled]="isLastPage()"
    ></button>
  </div>
  <!-- fine -->

  <app-info-corso
    [display]="display"
    [corso]="corso"
    (onDialogClose)="onDialogClose($event)"
  >
  </app-info-corso>
  <app-associazione
    [displayAssociazione]="displayAssociazione"
    [corso]="corso"
    (onDialogCloseAssociazione)="onDialogCloseAssociazione($event)"
  ></app-associazione>
</div>
