<p-tabView>
  <!-- VALUTAZIONE UTENTI  -->
  <p-tabPanel header="Alunni" leftIcon="pi pi-list">
    <div class="card" style="padding: 15px;">
      <h2 align="center">VALUTAZIONE ALUNNI</h2>
      <hr />
      <div class="col-6" style="margin-bottom: 15px; margin-left: -14px;">
        <span class="ui-float-label">
          <form [formGroup]="formGroup" method="POST">
            <input
              id="float-input"
              placeholder="Cerca corso per descrizione"
              type="text"
              size="30"
              formControlName="cerca"
              pInputText
            />
            <button
              type="submit"
              pButton
              icon="pi pi-search"
              style="margin-left: 0.5em;"
              (click)="cercaGlobaleUtente(this.pagineUtente, this.quantitaUtente)"
            ></button>
          </form>
        </span>
      </div>

      <p-table [value]="listaDipendenti" selectionMode="single">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of colsAlunni">
              {{ col.header }}
            </th>
            <th>
              {{ "Corso" }}
            </th>
            <th>
              {{ "Opzioni" }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-alunni let-i="rowIndex">
          <tr>
            <td *ngFor="let col of colsAlunni">
              {{ alunni[col.field] }}
            </td>
            <td>
              {{ this.stringDescr(listaTotUtenti[i]) }}
            </td>
            <td>
              <button
                pButton
                type="button"
                (click)="showDialog1(listaTotUtenti[i])"
                icon="pi pi-pencil"
                iconPos="left"
                class="ui-button-success"
              ></button>

              <button
                pButton
                type="button"
                (click)="showDialogInfoUtente(listaTotUtenti[i])"
                icon="pi pi-info"
                iconPos="left"
                class="ui-button-primary"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>

      <div class="row">
        <div class="ui-g-6">
          <div align="left" style="margin-top: 11px; margin-left: 8px;">
            <b *ngIf="totUtenti"
              >{{ "Numero alunni: " }} {{ this.totUtenti.length }}</b
            >
          </div>
        </div>

        <div class="ui-g-6">
          <div align="left" style="margin-top: 7px; margin-left: -120px;">
            <button
              type="button"
              pButton
              icon="pi pi-fast-backward"
              (click)="resetUte()"
              style="margin-right: 0.5em;"
              [disabled]="isFirstPageUte()"
            ></button>
            <button
              type="button"
              pButton
              icon="pi pi-chevron-left"
              (click)="prevUte()"
              style="margin-right: 0.5em;"
              [disabled]="isFirstPageUte()"
            ></button>
            <b>{{ pagineUtente + 1 }} {{ " di " }} {{ numPageUtente }} </b>
            <button
              type="button"
              pButton
              icon="pi pi-chevron-right"
              (click)="nextUte()"
              style="margin-right: 0.5em; margin-left: 0.5em;"
              [disabled]="isLastPageUte()"
            ></button>
            <button
              type="button"
              pButton
              icon="pi pi-fast-forward"
              (click)="lastUte()"
              style="margin-right: 0.5em;"
              [disabled]="isLastPageUte()"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </p-tabPanel>

  <!-- VALUTAZIONE DOCENTI  -->

  <p-tabPanel header="Docenti" leftIcon="pi pi-list">
    <div class="card" style="padding: 15px;">
      <h2 align="center">VALUTAZIONE DOCENTI</h2>
      <hr />

      <p-tabView>
        <p-tabPanel header="Esterni" leftIcon="pi pi-list">
          <!-- filtro Docenti Esterni -->
          <!-- <div
            class="col-6"
            style="margin-bottom: 15px; margin-left: -14px; margin-top: 15px;"
          >
            <span class="ui-float-label">
              <form [formGroup]="formGroup" method="POST">
                <input
                  id="float-input"
                  type="text"
                  size="30"
                  formControlName="cerca"
                  pInputText
                />
                <button
                  type="submit"
                  pButton
                  icon="pi pi-search"
                  style="margin-left: 0.5em;"
                  (click)="cercaGlobaleDocente()"
                ></button>
              </form>
            </span>
          </div> -->
          <!-- fine filtro -->
          <p-table [value]="listaDocEsterni">
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of colsDocenti">
                  {{ col.header }}
                </th>
                <th>
                  {{ "Corso" }}
                </th>
                <th>
                  {{ "Opzioni" }}
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-docenteEsterno let-i="rowIndex">
              <tr>
                <td *ngFor="let col of colsDocenti">
                  {{ docenteEsterno[col.field] }}
                </td>
                <td>
                  {{ this.assDocEst[i].corso.descrizione }}
                </td>
                <td>
                  <button
                    pButton
                    type="button"
                    (click)="showDialog2(docenteEsterno, i, 'esterno')"
                    icon="pi pi-pencil"
                    iconPos="left"
                    class="ui-button-success"
                  ></button>

                  <button
                    pButton
                    type="button"
                    (click)="showDialogInfoDoc(docenteEsterno, i, 'esterno')"
                    icon="pi pi-info"
                    iconPos="left"
                    class="ui-button-primary"
                  ></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <div class="row">
            <div class="ui-g-6">
              <div
                align="left"
                style="margin-top: 11px; margin-left: 8px;"
              ></div>
            </div>

            <div class="ui-g-6">
              <div align="left" style="margin-top: 7px; margin-left: -120px;">
                <button
                  type="button"
                  pButton
                  icon="pi pi-fast-backward"
                  (click)="resetDocEst()"
                  style="margin-right: 0.5em;"
                  [disabled]="isFirstPageDocEst()"
                ></button>
                <button
                  type="button"
                  pButton
                  icon="pi pi-chevron-left"
                  (click)="prevDocEst()"
                  style="margin-right: 0.5em;"
                  [disabled]="isFirstPageDocEst()"
                ></button>
                <b>{{ pagineDocEst + 1 }} {{ " di " }} {{ numPageDocEst }} </b>
                <button
                  type="button"
                  pButton
                  icon="pi pi-chevron-right"
                  (click)="nextDocEst()"
                  style="margin-right: 0.5em; margin-left: 0.5em;"
                  [disabled]="isLastPageDocEst()"
                ></button>
                <button
                  type="button"
                  pButton
                  icon="pi pi-fast-forward"
                  (click)="lastDocEst()"
                  style="margin-right: 0.5em;"
                  [disabled]="isLastPageDocEst()"
                ></button>
              </div>
            </div>
          </div>
        </p-tabPanel>

        <p-tabPanel header="Interni" leftIcon="pi pi-list">
          <!-- filtro Docenti Interni -->
          <!-- <div
            class="col-6"
            style="margin-bottom: 15px; margin-left: -14px; margin-top: 15px;"
          >
            <span class="ui-float-label">
              <form [formGroup]="formGroup" method="POST">
                <input
                  id="float-input"
                  type="text"
                  size="30"
                  formControlName="cerca"
                  pInputText
                />
                <button
                  type="submit"
                  pButton
                  icon="pi pi-search"
                  style="margin-left: 0.5em;"
                  (click)="cercaGlobaleUtente()"
                ></button>
              </form>
            </span>
          </div> -->
          <!-- fine filtro -->
          <p-table [value]="listaDocInterni">
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of colsAlunni">
                  {{ col.header }}
                </th>
                <th>
                  {{ "Corso" }}
                </th>
                <th>
                  {{ "Opzioni" }}
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-docenteInterno let-i="rowIndex">
              <tr>
                <td *ngFor="let col of colsAlunni">
                  {{ docenteInterno[col.field] }}
                </td>
                <td>
                  {{ this.assDocInt[i].corso.descrizione }}
                </td>
                <td>
                  <button
                    pButton
                    type="button"
                    (click)="showDialog2(docenteInterno, i, 'interno')"
                    icon="pi pi-pencil"
                    iconPos="left"
                    class="ui-button-success"
                  ></button>

                  <button
                    pButton
                    type="button"
                    (click)="showDialogInfoDoc(docenteInterno, i, 'interno')"
                    icon="pi pi-info"
                    iconPos="left"
                    class="ui-button-primary"
                  ></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <div class="row">
            <div class="ui-g-6">
              <div
                align="left"
                style="margin-top: 11px; margin-left: 8px;"
              ></div>
            </div>

            <div class="ui-g-6">
              <div align="left" style="margin-top: 7px; margin-left: -120px;">
                <button
                  type="button"
                  pButton
                  icon="pi pi-fast-backward"
                  (click)="resetDocInt()"
                  style="margin-right: 0.5em;"
                  [disabled]="isFirstPageDocInt()"
                ></button>
                <button
                  type="button"
                  pButton
                  icon="pi pi-chevron-left"
                  (click)="prevDocInt()"
                  style="margin-right: 0.5em;"
                  [disabled]="isFirstPageDocInt()"
                ></button>
                <b>{{ pagineDocInt + 1 }} {{ " di " }} {{ numPageDocInt }} </b>
                <button
                  type="button"
                  pButton
                  icon="pi pi-chevron-right"
                  (click)="nextDocInt()"
                  style="margin-right: 0.5em; margin-left: 0.5em;"
                  [disabled]="isLastPageDocInt()"
                ></button>
                <button
                  type="button"
                  pButton
                  icon="pi pi-fast-forward"
                  (click)="lastDocInt()"
                  style="margin-right: 0.5em;"
                  [disabled]="isLastPageDocInt()"
                ></button>
              </div>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </p-tabPanel>

  <!-- VALUAZIONI CORSI  -->

  <p-tabPanel header="Corsi" leftIcon="pi pi-list">
    <div class="card" style="padding: 15px;">
      <h2 align="center">VALUTAZIONE CORSI</h2>
      <hr />
      <!-- filtro Docenti Interni -->
      <!-- <div
        class="col-6"
        style="margin-bottom: 15px; margin-left: -14px; margin-top: 15px;"
      >
        <span class="ui-float-label">
          <form [formGroup]="formGroup" method="POST">
            <input
              id="float-input"
              type="text"
              size="30"
              formControlName="cerca"
              pInputText
            />
            <button
              type="submit"
              pButton
              icon="pi pi-search"
              style="margin-left: 0.5em;"
              (click)="cercaGlobaleCorso()"
            ></button>
          </form>
        </span>
      </div> -->
      <!-- fine filtro -->
      <p-table [value]="listaCorsi">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of colsCorso">
              {{ col.header }}
            </th>
            <th>
              {{ "Tipologia" }}
            </th>
            <th>
              {{ "Società" }}
            </th>
            <th>
              {{ "Opzioni" }}
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-corso let-i="rowIndex">
          <tr>
            <td *ngFor="let col of colsCorso">
              {{ corso[col.field] }}
            </td>
            <td>
              {{ string(corso) }}
            </td>
            <td>
              {{ stringSoc(corso) }}
            </td>
            <td>
              <button
                pButton
                type="button"
                (click)="showDialog3(corso)"
                icon="pi pi-pencil"
                iconPos="left"
                class="ui-button-success"
              ></button>

              <button
                pButton
                type="button"
                (click)="showDialogInfoCorso(corso)"
                icon="pi pi-info"
                iconPos="left"
                class="ui-button-primary"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div class="row">
        <div class="ui-g-6">
          <div align="left" style="margin-top: 11px; margin-left: 8px;">
            <b *ngIf="totCorsi"
              >{{ "Numero corsi: " }} {{ this.totCorsi.length }}</b
            >
          </div>
        </div>

        <div class="ui-g-6">
          <div align="left" style="margin-top: 7px; margin-left: -120px;">
            <button
              type="button"
              pButton
              icon="pi pi-fast-backward"
              (click)="resetCorso()"
              style="margin-right: 0.5em;"
              [disabled]="isFirstPageCorso()"
            ></button>
            <button
              type="button"
              pButton
              icon="pi pi-chevron-left"
              (click)="prevCorso()"
              style="margin-right: 0.5em;"
              [disabled]="isFirstPageCorso()"
            ></button>
            <b>{{ pagineCorsi + 1 }} {{ " di " }} {{ numPageCorsi }} </b>
            <button
              type="button"
              pButton
              icon="pi pi-chevron-right"
              (click)="nextCorso()"
              style="margin-right: 0.5em; margin-left: 0.5em;"
              [disabled]="isLastPageCorso()"
            ></button>
            <button
              type="button"
              pButton
              icon="pi pi-fast-forward"
              (click)="lastCorso()"
              style="margin-right: 0.5em;"
              [disabled]="isLastPageCorso()"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>
<app-val-utente
  [display1]="display1"
  [soggetto]="soggetto"
  (onDialogClose)="onDialogClose1($event)"
></app-val-utente>

<app-val-docente
  [display2]="display2"
  [docenteEst]="docenteEst"
  (onDialogClose)="onDialogClose2($event)"
></app-val-docente>

<app-val-corso
  [display3]="display3"
  [corso]="corso"
  (onDialogClose)="onDialogClose3($event)"
></app-val-corso>

<app-info-val-utente
  [displayInfoUtente]="displayInfoUtente"
  [soggettoInfo]="soggettoInfo"
  (onDialogCloseInfo)="onDialogCloseInfoUtente($event)"
>
</app-info-val-utente>

<app-info-val-corso
  [displayInfoCorso]="displayInfoCorso"
  [corso]="corso"
  (onDialogClose)="onDialogCloseInfoCorso($event)"
>
</app-info-val-corso>

<app-info-val-docente
  [displayInfoDocente]="displayInfoDocente"
  [docenteEst]="docenteEst"
  (onDialogClose)="onDialogCloseInfoDoc($event)"
>
</app-info-val-docente>
