<p-dialog
  align="left"
  header="Associazione"
  [(visible)]="displayAssociazione"
  styleClass="active"
  [style]="{ width: '50%' }"
  [transitionOptions]="'0ms'"
  [modal]="true"
  [resizable]="true"
  (onHide)="exit()"
>
  <p-tabView>
    <p-tabPanel header="Dipendenti">
      <form *ngIf="corso" [formGroup]="formGroup" method="POST">
        <h6><b>Seleziona i Partecipanti al Corso</b></h6>
        <div class="row">
          <div class="col-6">
            <p-listbox
              *ngIf="listaDipendenti"
              [style]="{ width: '90%' }"
              [listStyle]="{ 'max-height': '210px' }"
              [multiple]="true"
              [checkbox]="true"
              [options]="dipendenti"
              [filter]="true"
              optionLabel="label"
              formControlName="dipendente"
            ></p-listbox>
          </div>

          <div class="col-6">
            <b>Durata</b>
            <input
              id="inputDurata"
              type="text"
              size="5"
              pInputText
              formControlName="durata"
            />
          </div>
        </div>
      </form>
    </p-tabPanel>

    <p-tabPanel header="Docente">
      <form *ngIf="corso" [formGroup]="formGroupDocenti" method="POST">
        <h6><b>Seleziona Docenti</b></h6>
        <div class="row">
          <div class="col-6" style="margin-top: 5px;">
            <p-listbox
              *ngIf="listaDocenti && !control"
              [style]="{ width: '90%' }"
              [listStyle]="{ 'max-height': '210px' }"
              [checkbox]="true"
              [options]="docenti"
              [filter]="true"
              optionLabel="label"
              formControlName="docente"
            ></p-listbox>
            <p-listbox
              *ngIf="listaDipendenti && control"
              [style]="{ width: '90%' }"
              [listStyle]="{ 'max-height': '210px' }"
              [checkbox]="true"
              [options]="dipendenti"
              [filter]="true"
              optionLabel="label"
              formControlName="docente"
            ></p-listbox>
          </div>

          <div class="col-6" style="margin-top: 5xp;">
            <p-checkbox
              binary="true"
              [(ngModel)]="control"
              label="Seleziona Docente Interno"
              formControlName="interno"
            ></p-checkbox>
          </div>
        </div>
      </form>
    </p-tabPanel>

    <div align="right" class="ui-g-12">
      <div class="row">
        <div class="col-9" style="margin-top: 7px;">
          <b style="color: red;" *ngIf="showError">Un docente è assegnato al corso</b>
        </div>
        <div class="col-3" style="margin-top: 7px;">
      <button
        style="margin-top: 2%; margin-right: -3.5%;"
        pButton
        type="button"
        label="Primary"
        class="ui-button-raised ui-button-success"
        id="Modifica"
        label="Conferma"
        (click)="conferma()"
      ></button>
      </div>
      </div>
    </div>
  </p-tabView>
</p-dialog>
