<p-tabView>
  <p-tabPanel header="Esterni" leftIcon="pi pi-list">
    <div class="card" style="padding: 15px;">
      <h2 align="center">DOCENTI ESTERNI</h2>
      <hr />
      <div class="row">
        <div class="col-4" style="margin-bottom: 15px;">
          <span class="ui-float-label">
            <form [formGroup]="formGroup" method="POST">
              <input
                id="float-input"
                type="text"
                size="30"
                formControlName="cerca"
                pInputText
              />
              <button
                type="submit"
                pButton
                icon="pi pi-search"
                style="margin-left: 0.5em;"
                (click)="cercaGlobale()"
              ></button>
            </form>
          </span>
        </div>
      </div>

      <p-table
        [value]="lista"
        [rows]="quantita"
        selectionMode="single"
        [(selection)]="selectedItem"
      >
        <!-- Docenti Esterni  -->
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of colsEsterni">
              {{ col.header }}
            </th>
            <th>
              {{ "Opzioni" }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-docente let-i="rowIndex">
          <tr (click)="select()">
            <td *ngFor="let col of colsEsterni">
              {{ docente[col.field] }}
            </td>

            <td>
              <button
                pButton
                type="button"
                icon="pi pi-user-edit"
                class="ui-button-success"
                (click)="showDialog1(docente)"
              ></button>

              <button
                pButton
                type="button"
                icon="pi pi-trash"
                class="ui-button-danger"
                (click)="showDialogConf(docente)"
              ></button>

              <button
                pButton
                type="button"
                icon="pi pi-info"
                class="ui-button-primary"
                (click)="showDialog3(docente)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>

      <div class="row">
        <div class="col-6" style="padding-top: 20px; padding-bottom: 10px;">
          <b *ngIf="listaTot"
            >{{ "Numero docenti: " }} {{ this.listaTot.length }}</b
          >
        </div>

        <!-- inizio Confirm Dialog -->
        <p-dialog
          header="Sei sicuro di voler cancellare questo Docente?"
          [(visible)]="displayConf"
          [transitionOptions]="'0ms'"
          [modal]="true"
          [closable]="true"
          (onHide)="exit()"
        >
          <p-scrollPanel [style]="{ width: '100%', height: '70px' }">
            <div class="row" style="margin-top: 15px;">
              <div align="right" class="col-6">
                <button
                  pButton
                  icon="pi pi-check"
                  type="button"
                  label="Danger"
                  class="ui-button-raised ui-button-primary"
                  id="Annulla"
                  label="No"
                  (click)="exit()"
                ></button>
              </div>
              <div class="col-6">
                <button
                  pButton
                  icon="pi pi-times"
                  type="button"
                  label="Primary"
                  class="ui-button-raised ui-button-danger"
                  label="Sì"
                  (click)="elimina(soggetto)"
                ></button>
              </div>
            </div>
          </p-scrollPanel>
        </p-dialog>
        <!-- fine -->

        <div
          class="col-6"
          style="padding-top: 15px; padding-bottom: 10px;"
          align="right"
        >
          <button
            pButton
            type="button"
            (click)="showDialog()"
            icon="pi pi-user-plus"
            iconPos="left"
            label="Nuovo Docente Esterno"
            class="ui-button-primary"
            id="123"
          ></button>
        </div>
      </div>
      <div align="center" class="ui-g-12" style="margin-top: -50px;">
        <button
          type="button"
          pButton
          icon="pi pi-fast-backward"
          (click)="reset()"
          style="margin-right: 0.5em;"
          [disabled]="isFirstPage()"
        ></button>
        <button
          type="button"
          pButton
          icon="pi pi-chevron-left"
          (click)="prev()"
          style="margin-right: 0.5em;"
          [disabled]="isFirstPage()"
        ></button>
        <b>{{ pagine + 1 }} {{ " di " }} {{ numeroPagine }} </b>
        <button
          type="button"
          pButton
          icon="pi pi-chevron-right"
          (click)="next()"
          style="margin-right: 0.5em; margin-left: 0.5em;"
          [disabled]="isLastPage()"
        ></button>
        <button
          type="button"
          pButton
          icon="pi pi-fast-forward"
          (click)="last()"
          style="margin-right: 0.5em;"
          [disabled]="isLastPage()"
        ></button>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Interni" leftIcon="pi pi-list">
    <div class="card" style="padding: 15px;">
      <h2 align="center">DOCENTI INTERNI</h2>
      <hr />
      <!-- filtro interno -->
      <div class="col-6" style="margin-bottom: 15px; margin-left: -14px;">
        <span class="ui-float-label">
          <form [formGroup]="formGroup" method="POST">
            <input
              id="float-input"
              type="text"
              size="30"
              formControlName="cerca"
              pInputText
            />
            <button
              type="submit"
              pButton
              icon="pi pi-search"
              style="margin-left: 0.5em;"
              (click)="cercaGlobaleInterni()"
            ></button>
          </form>
        </span>
      </div>
      <!-- fine filtro interno -->

      <p-table [value]="dipendenti" selectionMode="single">
        <!-- sistemare lo scroll -->
        <!-- <ng-template pTemplate="caption">
          Alunni
        </ng-template> -->
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of colsInterni">
              {{ col.header }}
            </th>
            <th>
              {{ "Opzioni" }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-alunni let-i="rowIndex">
          <tr>
            <td *ngFor="let col of colsInterni">
              {{ alunni[col.field] }}
            </td>
            <td>
              <button
                pButton
                type="button"
                class="ui-button-raised ui-button-primary"
                (click)="showDialogInt(alunni)"
                icon="pi pi-info"
                id="info"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div class="row">
        <div class="ui-g-6">
          <div align="left" style="margin-top: 11px; margin-left: 8px;">
            <b *ngIf="totaleDocentiInt"
              >{{ "Numero docenti: " }} {{ this.totaleDocentiInt.length }}</b
            >
          </div>
        </div>

        <div class="ui-g-6">
          <div align="left" style="margin-top: 7px; margin-left: -120px;">
            <button
              type="button"
              pButton
              icon="pi pi-fast-backward"
              (click)="resetInt()"
              style="margin-right: 0.5em;"
              [disabled]="isFirstPageInt()"
            ></button>
            <button
              type="button"
              pButton
              icon="pi pi-chevron-left"
              (click)="prevInt()"
              style="margin-right: 0.5em;"
              [disabled]="isFirstPageInt()"
            ></button>
            <b>{{ pagineDocInt + 1 }} {{ " di " }} {{ numPageDocInt }} </b>
            <button
              type="button"
              pButton
              icon="pi pi-chevron-right"
              (click)="nextInt()"
              style="margin-right: 0.5em; margin-left: 0.5em;"
              [disabled]="isLastPageInt()"
            ></button>
            <button
              type="button"
              pButton
              icon="pi pi-fast-forward"
              (click)="lastInt()"
              style="margin-right: 0.5em;"
              [disabled]="isLastPageInt()"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>

<app-new
  [display]="display"
  (onDialogClose)="onDialogClose($event)"
  (onClick)="onDialogClose(display)"
>
</app-new>
<app-edit
  [display1]="display1"
  [soggetto]="soggetto"
  (onDialogClose)="onDialogClose1($event)"
>
</app-edit>
<app-info-docenti-est
  [display3]="display3"
  [soggetto]="soggetto"
  (onDialogClose)="onDialogClose3($event)"
>
</app-info-docenti-est>

<app-info-docenti-int
  [display2]="display2"
  [soggetto]="docenteInt"
  (onDialogClose)="onDialogCloseInt($event)"
>
</app-info-docenti-int>
