<form *ngIf="corso" class="mt-3" [formGroup]="formGroup" method="POST">
  <div class="card" style="padding: 10px;">
    <h2 align="center">Modifica Corso</h2>
    <hr />
    <div class="row">
      <!-- colonna sx -->
      <div class="col-4">
        <div class="ui-g" style="width: 310px; margin-bottom: 10px;">
          <h4>Stato del Corso</h4>
          <div class="ui-g-12">
            <p-radioButton
              *ngIf="radio"
              [(ngModel)]="radio"
              name="group1"
              value="Previsto"
              label="Previsto"
              inputId="opt1"
              formControlName="previsto"
            >
            </p-radioButton>
          </div>
          <div class="ui-g-12">
            <p-radioButton
              *ngIf="radio"
              [(ngModel)]="radio"
              name="group1"
              value="Erogato"
              label="Erogato"
              inputId="opt2"
              formControlName="erogato"
            >
            </p-radioButton>
          </div>
        </div>

        <div class="ui-g" style="width: 310px; margin-bottom: 10px;">
          <h4>Tipo di Corso</h4>
          <div class="ui-g-12">
            <p-dropdown
              *ngIf="listaTipologie"
              [options]="tipologie"
              optionLabel="label"
              formControlName="tipologia"
              [style]="{ width: '90%' }"
            ></p-dropdown>
          </div>
        </div>

        <div class="ui-g" style="width: 310px; margin-bottom: 10px;">
          <h4>Argomento</h4>

          <div class="ui-g-12">
            <p-dropdown
              *ngIf="listaTipi"
              [options]="argomenti"
              optionLabel="label"
              formControlName="tipo"
              [style]="{ width: '90%' }"
            ></p-dropdown>
          </div>
        </div>

        <div class="ui-g" style="width: 310px; margin-bottom: 10px;">
          <h4>Descrizione</h4>
          <div class="ui-g-12">
            <textarea
              [rows]="4"
              [cols]="33"
              pInputTextarea
              formControlName="descrizione"
            ></textarea>
          </div>
        </div>
      </div>

      <!-- colonna centro -->
      <div class="col-4">
        <div class="ui-g" style="width: 310px; margin-bottom: 5px;">
          <h4>Durata del Corso</h4>

          <div class="ui-g-12">
            <input
              id="inputDurata"
              type="text"
              size="5"
              pInputText
              formControlName="durata"
            />
            <p-dropdown
              *ngIf="listaMisure"
              [options]="descrizioneMis"
              optionLabel="label"
              formControlName="misura"
              [style]="{ width: '66%' }"
            ></p-dropdown>
          </div>
        </div>

        <div class="ui-g" style="width: 310px; margin-bottom: 10px;">
          <h4>Luogo del Corso</h4>
          <div class="ui-g-12">
            <p-dropdown
              [options]="luoghiCorsi"
              optionLabel="label"
              formControlName="luogo"
              [style]="{ width: '90%' }"
              [(ngModel)]="luogo"
            ></p-dropdown>
          </div>
        </div>
        <div class="ui-g" style="width: 310px; margin-bottom: 10px;">
          <h4>Data Censimento</h4>
          <div class="ui-g-12">
            <p-calendar
              [showIcon]="true"
              formControlName="dataCensimento"
              [readonlyInput]="true"
              dateFormat="dd/mm/yy"
              showButtonBar="true"
            ></p-calendar>
          </div>

          <div class="ui-g" style="width: 310px; margin-bottom: 5px;">
            <h4>Data Inizio</h4>
            <div class="ui-g-12">
              <p-calendar
                [showIcon]="true"
                formControlName="dataErogazione"
                [readonlyInput]="true"
                dateFormat="dd/mm/yy"
                showButtonBar="true"
              ></p-calendar>
            </div>
          </div>

          <div class="ui-g" style="width: 310px; margin-bottom: 5px;">
            <h4>Data Fine</h4>
            <div class="ui-g-12">
              <p-calendar
                [showIcon]="true"
                formControlName="dataChiusura"
                [readonlyInput]="true"
                dateFormat="dd/mm/yy"
                showButtonBar="true"
              ></p-calendar>
            </div>
          </div>
        </div>
      </div>

      <!-- colonna sx -->

      <div class="col-4">
        <div class="ui-g" style="width: 310px; margin-bottom: 5px;">
          <h4>Ente</h4>

          <div class="ui-g-12" style="margin-top: -5px;">
            <input
              id="ente"
              type="text"
              size="33"
              pInputText
              formControlName="ente"
            />
          </div>

          <div class="ui-g" style="width: 310px; margin-bottom: 10px;">
            <h4>Edizione</h4>
            <div class="ui-g-12">
              <input
                id="inputEdizione"
                type="text"
                size="33"
                pInputText
                formControlName="edizione"
              />
            </div>
          </div>
          <!-- <div class="ui-g-12" style="margin-top: -5px;">
              <p-checkbox
                binary="true"
                label="Seleziona Docente Esterno"
                formControlName="interno"
              ></p-checkbox>
            </div> -->

          <!--  <div class="ui-g-12" style="margin-top: -5px;">
              <p-dropdown
                [options]="dipendenti"
                optionLabel="name"
                formControlName="docente"
                [style]="{ width: '90%' }"
              ></p-dropdown>
            </div> -->
        </div>

        <!-- <div class="ui-g" style="width: 310px; margin-bottom: 5px;">
            <h4>Corsisti</h4>
            <div class="ui-g-12" style="margin-top: -5px;">
              <p-listbox
                [style]="{ width: '90%' }"
                [listStyle]="{ 'max-height': '70px' }"
                [options]="dipendenti"
                [multiple]="true"
                [checkbox]="true"
                [filter]="true"
                optionLabel="name"
              ></p-listbox>
            </div>
          </div> -->

        <div class="ui-g" style="width: 310px; margin-bottom: 5px;">
          <h4>Società</h4>
          <div class="ui-g-12" style="margin-top: -5px;">
            <p-dropdown
              *ngIf="listaSocieta"
              [options]="societa"
              optionLabel="label"
              [style]="{ width: '90%' }"
              formControlName="societa"
            ></p-dropdown>
          </div>
        </div>

        <div class="ui-g" style="width: 310px; margin-bottom: 5px;">
          <h4>Note</h4>
          <div class="ui-g-12" style="margin-top: -5px;">
            <textarea
              [rows]="4"
              [cols]="34"
              pInputTextarea
              formControlName="note"
            ></textarea>
          </div>
        </div>
        <div class="ui-g" style="width: 310px;">
          <div class="ui-g-12">
            <p-checkbox
              binary="true"
              label="Seleziona Personale Interno"
              formControlName="interno"
            ></p-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div align="center" class="row">
  <!-- <div class="col-4">
    <button
      pButton
      (click)="svuotaCampi()"
      type="button"
      class="ui-button-raised ui-button-warning"
      id="SvuotaCampi"
      label="Associazione Docenti e Corsisti"
    ></button>
  </div> -->

  <div align="right" class="ui-g-6">
    <button
      pButton
      routerLink="/corsi"
      type="button"
      label="Danger"
      class="ui-button-raised ui-button-danger"
      id="Annulla"
      label="Annulla"
    ></button>
  </div>

  <div align="left" class="ui-g-6">
    <button
      pButton
      type="button"
      label="Primary"
      class="ui-button-raised ui-button-success"
      id="Modifica"
      label="Conferma "
      (click)="conferma()"
    ></button>
  </div>
</div>
