<p-dialog
  header="Info Valutazione Corso"
  [(visible)]="displayInfoCorso"
  [style]="{ width: '65%' }"
  [transitionOptions]="'0ms'"
  [modal]="true"
  (onHide)="exit()"
>
  <p-scrollPanel [style]="{ width: '100%', height: '350px' }">
    <div class="row">
      <div class="col-10">
        <h3 *ngIf="corso">
          Valutazione Inerente al Corso: {{ this.corso.descrizione }}
        </h3>
      </div>
      <div class="col-4" style="margin-left: 2px;">
        <button
          pButton
          type="button"
          icon="pi pi-trash"
          iconpos="left"
          label="Elimina valutazione"
          class="ui-button ui-button-danger"
          (click)="showDialogConf()"
        ></button>
        <!-- inizio Confirm Dialog -->
        <p-dialog
          header="Sei sicuro di voler cancellare questa Valutazione?"
          [(visible)]="displayConf"
          styleClass="mydialog"
          [responsive]="true"
          [transitionOptions]="'0ms'"
          [modal]="true"
          [baseZIndex]="10000"
          (onHide)="exitConf()"
        >
          <p-scrollPanel [style]="{ width: '100%' }">
            <div class="row" style="margin-top: 15px;">
              <div align="right" class="col-6">
                <button
                  pButton
                  icon="pi pi-check"
                  type="button"
                  label="Danger"
                  class="ui-button-raised ui-button-primary"
                  id="Annulla"
                  label="No"
                  (click)="exitConf()"
                ></button>
              </div>
              <div class="col-6">
                <button
                  pButton
                  icon="pi pi-times"
                  type="button"
                  label="Primary"
                  class="ui-button-raised ui-button-danger"
                  label="Sì"
                  (click)="elimina()"
                ></button>
              </div>
            </div>
          </p-scrollPanel>
        </p-dialog>
        <!-- fine confirm dialog -->
      </div>
    </div>

    <p-table [value]="valutazione" selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of colsVal">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-val let-i="rowIndex">
        <tr>
          <td *ngFor="let col of colsVal">
            {{ val[col.field] }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-scrollPanel>
</p-dialog>
