<p-dialog
  header="Valutazione Corso"
  [(visible)]="display3"
  [style]="{ width: '70%' }"
  [transitionOptions]="'0ms'"
  [modal]="true"
  (onHide)="exit()"
>
  <form *ngIf="corso" class="mt-3" [formGroup]="formGroup">
    <div class="container">
      <h4 *ngIf="corso">CORSO: {{ this.corso.descrizione }}</h4>
      <h5>Numero Alunni del Corso: {{ this.tot }}</h5>

      <div
        align="left"
        class="col-6"
        style="margin-bottom: 10px; margin-left: -15px;"
      ></div>
      <div class="card" style="padding: 20px;">
        <div class="row" style="margin-bottom: 10px; margin-top: 15px;">
          <div class="col-4">
            <b style="margin-left: 1%;">VALUTAZIONE:</b>
          </div>
          <div class="col-6" style="margin-left: 1%;">
            <b style="margin-right: 3.5%;">Insufficiente</b>
            <b style="margin-right: 5%;">Sufficiente</b>
            <b style="margin-right: 10%;">Buono</b>
            <b>Molto Buono</b>
          </div>
        </div>
        <div class="row" style="margin-bottom: 10px; margin-top: 15px;">
          <div align="left" class="col-4" style="margin-top: 4px;">
            <b> 1) Utilità del Corso per l'ambito lavorativo</b>
          </div>
          <div
            align="center"
            class="col-6"
            style="margin-top: 7px; margin-bottom: 15px;"
          >
            <p-spinner
              formControlName="valori"
              [(ngModel)]="val1[0]"
              [min]="0"
              [size]="5"
              (onChange)="update1()"
            ></p-spinner>
            <p-spinner
              formControlName="valori"
              [(ngModel)]="val1[1]"
              [min]="0"
              [size]="5"
              (onChange)="update1()"
            ></p-spinner>
            <p-spinner
              formControlName="valori"
              [(ngModel)]="val1[2]"
              [min]="0"
              [size]="5"
              (onChange)="update1()"
            ></p-spinner>
            <p-spinner
              formControlName="valori"
              [(ngModel)]="val1[3]"
              [min]="0"
              [size]="5"
              (onChange)="update1()"
            ></p-spinner>
          </div>
          <div align="right" class="col-2">
            <b>Media: {{ val1m }}</b>
          </div>
        </div>

        <div class="row" style="margin-bottom: 10px;">
          <div align="left" class="col-4" style="margin-top: 4px;">
            <b> 2) Scelta nella selezione degli argomenti</b>
          </div>
          <div
            align="center"
            class="col-6"
            style="margin-top: 7px; margin-bottom: 15px;"
          >
            <p-spinner
              formControlName="valori"
              [(ngModel)]="val2[0]"
              [min]="0"
              [size]="5"
              (onChange)="update2()"
            ></p-spinner>
            <p-spinner
              formControlName="valori"
              [(ngModel)]="val2[1]"
              [min]="0"
              [size]="5"
              (onChange)="update2()"
            ></p-spinner>
            <p-spinner
              formControlName="valori"
              [(ngModel)]="val2[2]"
              [min]="0"
              [size]="5"
              (onChange)="update2()"
            ></p-spinner>
            <p-spinner
              formControlName="valori"
              [(ngModel)]="val2[3]"
              [min]="0"
              [size]="5"
              (onChange)="update2()"
            ></p-spinner>
          </div>
          <div align="right" class="col-2">
            <b>Media: {{ val2m }}</b>
          </div>
        </div>

        <div class="row" style="margin-bottom: 10px;">
          <div align="left" class="col-4" style="margin-top: 4px;">
            <b> 3) Durata del Corso</b>
          </div>
          <div
            align="center"
            class="col-6"
            style="margin-top: 7px; margin-bottom: 15px;"
          >
            <p-spinner
              formControlName="valori"
              [(ngModel)]="val3[0]"
              [min]="0"
              [size]="5"
              (onChange)="update3()"
            ></p-spinner>
            <p-spinner
              formControlName="valori"
              [(ngModel)]="val3[1]"
              [min]="0"
              [size]="5"
              (onChange)="update3()"
            ></p-spinner>
            <p-spinner
              formControlName="valori"
              [(ngModel)]="val3[2]"
              [min]="0"
              [size]="5"
              (onChange)="update3()"
            ></p-spinner>
            <p-spinner
              formControlName="valori"
              [(ngModel)]="val3[3]"
              [min]="0"
              [size]="5"
              (onChange)="update3()"
            ></p-spinner>
          </div>
          <div align="right" class="col-2">
            <b>Media: {{ val3m }}</b>
          </div>
        </div>

        <div class="row" style="margin-bottom: 10px;">
          <div align="left" class="col-4" style="margin-top: 4px;">
            <b> 4) Efficacia delle Esercitazioni</b>
          </div>
          <div
            align="center"
            class="col-6"
            style="margin-top: 7px; margin-bottom: 15px;"
          >
            <p-spinner
              formControlName="valori"
              [(ngModel)]="val4[0]"
              [min]="0"
              [size]="5"
              (onChange)="update4()"
            ></p-spinner>
            <p-spinner
              formControlName="valori"
              [(ngModel)]="val4[1]"
              [min]="0"
              [size]="5"
              (onChange)="update4()"
            ></p-spinner>
            <p-spinner
              formControlName="valori"
              [(ngModel)]="val4[2]"
              [min]="0"
              [size]="5"
              (onChange)="update4()"
            ></p-spinner>
            <p-spinner
              formControlName="valori"
              [(ngModel)]="val4[3]"
              [min]="0"
              [size]="5"
              (onChange)="update4()"
            ></p-spinner>
          </div>
          <div align="right" class="col-2">
            <b>Media: {{ val4m }}</b>
          </div>
        </div>

        <div class="row" style="margin-bottom: 15px;">
          <div align="left" class="col-4" style="margin-top: 4px;">
            <b> 5) Qualità del Materiale Didattico</b>
          </div>
          <div
            align="center"
            class="col-6"
            style="margin-top: 7px; margin-bottom: 5px;"
          >
            <p-spinner
              formControlName="valori"
              [(ngModel)]="val5[0]"
              [min]="0"
              [size]="5"
              (onChange)="update5()"
            ></p-spinner>
            <p-spinner
              formControlName="valori"
              [(ngModel)]="val5[1]"
              [min]="0"
              [size]="5"
              (onChange)="update5()"
            ></p-spinner>
            <p-spinner
              formControlName="valori"
              [(ngModel)]="val5[2]"
              [min]="0"
              [size]="5"
              (onChange)="update5()"
            ></p-spinner>
            <p-spinner
              formControlName="valori"
              [(ngModel)]="val5[3]"
              [min]="0"
              [size]="5"
              (onChange)="update5()"
            ></p-spinner>
          </div>
          <div align="right" class="col-2">
            <b>Media: {{ val5m }}</b>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <b> VALUTAZIONE MEDIA DEL CORSO: </b>
        </div>
        <div align="left" class="col-2">
          {{ media }}
        </div>
      </div>
      <div align="right" class="col-12" style="margin-top: 15px; margin: 13px;">
        <div class="row">
          <div class="col-8">
            <b style="color: red;" *ngIf="showError"
              >Troppi votanti su uno o più campi</b
            >
          </div>
          <div class="col-4">
            <button
              pButton
              type="button"
              label="Primary"
              class="ui-button-raised ui-button-success"
              id="Conferma"
              label="Conferma"
              (click)="conferma()"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </form>
</p-dialog>
