<p-dialog
  header="Modifica Docente"
  [(visible)]="display1"
  styleClass="mydialog"
  [style]="{ width: '60%' }"
  [transitionOptions]="'0ms'"
  [modal]="true"
  (onHide)="exit()"
>
  <form *ngIf="soggetto" class="mt-3" [formGroup]="formGroup" method="POST">
    <div class="row">
      <div class="col-6">
        <!-- <div class="form-group">
          <label for="InputMatricola">Matricola</label>
          <input
            type="text"
            class="form-control"
            required
            formControlName="matricola"
          />
        </div>
        <div class="form-group">
          <label for="InputNome">Nome</label>
          <input
            type="text"
            class="form-control"
            required
            formControlName="nome"
          />
        </div>
        <div class="form-group">
          <label for="InputCognome">Cognome</label>
          <input
            type="text"
            class="form-control"
            required
            formControlName="cognome"
          />
        </div> -->
        <div class="form-group">
          <label for="InputTitolo">Titolo*</label>
          <input
            type="text"
            class="form-control"
            required
            formControlName="titolo"
          />
        </div>
        <div class="form-group">
          <label for="InputRagioneSociale">Ragione Sociale*</label>
          <input
            type="text"
            class="form-control"
            required
            formControlName="ragioneSociale"
          />
        </div>
        <div class="form-group">
          <label for="InputIndirizzo">Indirizzo</label>
          <input type="text" class="form-control" formControlName="indirizzo" />
        </div>
        <div class="form-group">
          <label for="InputLocalita">Località*</label>
          <input
            type="text"
            class="form-control"
            required
            formControlName="localita"
          />
        </div>
        <div class="form-group">
          <label for="InputProvincia">Provincia*</label>
          <input
            maxlength="2"
            type="text"
            class="form-control"
            required
            formControlName="provincia"
          />
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="InputNazione">Nazione* </label>
          <input
            maxlength="2"
            type="text"
            class="form-control"
            required
            formControlName="nazione"
          />
        </div>
        <div class="form-group">
          <label for="InputTelefono">Telefono</label>
          <input type="text" class="form-control" formControlName="telefono" />
        </div>
        <div class="form-group">
          <label for="InputFax">Fax</label>
          <input type="text" class="form-control" formControlName="fax" />
        </div>
        <div class="form-group">
          <label for="InputPartitaIva">Partita Iva</label>
          <input
            type="text"
            class="form-control"
            formControlName="partitaIva"
          />
        </div>
        <div class="form-group">
          <label for="InputReferente">Referente</label>
          <input type="text" class="form-control" formControlName="referente" />
        </div>
      </div>
    </div>
    <div align="right">
      <button
        [disabled]="!formGroup.valid"
        type="submit"
        class="btn btn-success"
        (click)="conferma()"
      >
        Conferma
      </button>
    </div>
  </form>
</p-dialog>
