<p-dialog
  header="Info Corso"
  [(visible)]="display"
  styleClass="mydialog"
  [style]="{ width: '60%' }"
  [transitionOptions]="'0ms'"
  [modal]="true"
  (onHide)="exit()"
>
  <p-tabView>
    <p-tabPanel header="Informazioni">
      <div class="row" style="margin-top: 2px;" *ngFor="let col of cols">
        <div align="left" class="col-6">
          <b> {{ col.header }}</b>
        </div>
        <div class="col-6" align="left">
          <p>{{ corso[col.field] }}</p>
        </div>
      </div>
      <div class="row">
        <div align="left" class="col-6">
          <b> {{ "Data Censimento" }}</b
          ><br />
          <b> {{ "Data Erogazione" }}</b
          ><br />
          <b> {{ "Data Chiusura" }}</b
          ><br />
          <b> {{ "Società" }}</b
          ><br />
          <b> {{ "Tipologia" }}</b
          ><br />
          <b> {{ "Tipo" }}</b
          ><br />
          <b> {{ "Misura" }}</b
          ><br />
        </div>
        <div class="col-6" align="left">
          <p>{{ this.dataCe }}</p>
          <p>{{ this.dataE }}</p>
          <p>{{ this.dataCh }}</p>
          <p>{{ this.stringSoc(corso) }}</p>
          <p>{{ this.stringTipologia(corso) }}</p>
          <p>{{ this.stringTipo(corso) }}</p>
          <p>{{ this.stringMis(corso) }}</p>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Dipendenti">
      <div class="row" style="margin-top: 2px;">
        <p-scrollPanel [style]="{ width: '100%', height: '350px' }">
          <p-table
            [value]="listaDip"
            [scrollable]="true"
            selectionMode="single"
          >
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of colsAlunni">
                  {{ col.header }}
                </th>
                <th>
                  {{ "Durata" }}
                </th>
                <th>
                  {{ "Opzioni" }}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-alunni let-i="rowIndex">
              <tr (click)="select(associazioni[i])">
                <td *ngFor="let col of colsAlunni">
                  {{ alunni[col.field] }}
                </td>
                <td>
                  <div class="row">
                    <div class="col-10">
                      <div *ngIf="edit[i] == false">
                        {{ this.associazioni[i].durata }}
                      </div>
                      <div *ngIf="edit[i] == true">
                        <p-spinner
                          [(ngModel)]="this.associazioni[i].durata"
                          [min]="0"
                          [size]="5"
                        ></p-spinner>
                      </div>
                    </div>
                    <div class="col-6"></div>
                  </div>
                </td>
                <td>
                  <button
                    pButton
                    icon="pi pi-trash"
                    type="button"
                    class="ui-button-raised ui-button-danger"
                    (click)="deleteAssociazione(associazioni[i])"
                  ></button>
                  <button
                    *ngIf="edit[i] == false"
                    pButton
                    icon="pi pi-user-edit"
                    type="button"
                    class="ui-button-success"
                    (click)="enableModifica(i)"
                  ></button>
                  <button
                    *ngIf="edit[i] == true"
                    pButton
                    icon="pi pi-check"
                    type="button"
                    class="ui-button-raised ui-button-success"
                    (click)="modificaDurata(this.associazioni[i], i, 'y')"
                  ></button>
                  <button
                    *ngIf="edit[i] == true"
                    pButton
                    icon="pi pi-times"
                    type="button"
                    class="ui-button-raised ui-button-danger"
                    (click)="modificaDurata(this.associazioni[i], i, 'n')"
                  ></button>
                  <!-- inizio Confirm Dialog -->
                  <!-- <p-dialog
                    header="Sei sicuro di voler cancellare questa Valutazione?"
                    [(visible)]="displayConf"
                    styleClass="mydialog"
                    [responsive]="true"
                    [transitionOptions]="'0ms'"
                    [modal]="true"
                    [baseZIndex]="10000"
                    (onHide)="exit()"
                  >
                    <p-scrollPanel [style]="{ width: '100%' }">
                      <div class="row" style="margin-top: 15px;">
                        <div align="right" class="col-6">
                          <button
                            pButton
                            icon="pi pi-check"
                            type="button"
                            label="Danger"
                            class="ui-button-raised ui-button-primary"
                            id="Annulla"
                            label="No"
                            (click)="exitConf()"
                          ></button>
                        </div>
                        <div class="col-6">
                          <button
                            pButton
                            icon="pi pi-times"
                            type="button"
                            label="Primary"
                            class="ui-button-raised ui-button-danger"
                            label="Sì"
                            (click)="deleteAssociazione(associazioni[i])"
                          ></button>
                        </div>
                      </div>
                    </p-scrollPanel>
                  </p-dialog> -->
                  <!-- fine confirm dialog -->
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-scrollPanel>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Docente">
      <div class="row" style="margin-top: 2px;">
        <p-scrollPanel [style]="{ width: '100%', height: '100%' }">
          <p-table *ngIf="docente" [value]="docente" selectionMode="single">
            <ng-template pTemplate="caption">
              Docente Esterno
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of colsDocente">
                  {{ col.header }}
                </th>
                <th>{{ "Opzioni" }}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-docente let-i="rowIndex">
              <tr>
                <td *ngFor="let col of colsDocente">
                  {{ docente[col.field] }}
                </td>
                <td>
                  <button
                    pButton
                    icon="pi pi-trash"
                    type="button"
                    class="ui-button-raised ui-button-danger"
                    (click)="deleteDoc(associazioneDocente[i])"
                  ></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-scrollPanel>

        <p-scrollPanel [style]="{ width: '100%', height: '100%' }"
          ><p-table
            *ngIf="dipendente"
            [value]="dipendente"
            selectionMode="single"
          >
            <ng-template pTemplate="caption">
              Docente Interno
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of colsAlunni">
                  {{ col.header }}
                </th>
                <th>{{ "Opzioni" }}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-dipendente let-i="rowIndex">
              <tr>
                <td *ngFor="let col of colsAlunni">
                  {{ dipendente[col.field] }}
                </td>
                <td>
                  <button
                    pButton
                    icon="pi pi-trash"
                    type="button"
                    class="ui-button-raised ui-button-danger"
                    (click)="deleteDoc(associazioneDocente[i])"
                  ></button>
                </td>
              </tr>
            </ng-template> </p-table
        ></p-scrollPanel>
      </div>
    </p-tabPanel>
  </p-tabView>
</p-dialog>
