<div class="card" style="padding: 15px;">
  <h2 align="center">DIPENDENTI</h2>
  <hr />
  <div class="col-6" style="margin-bottom: 15px; margin-left: -14px;">
    <span class="ui-float-label">
      <form [formGroup]="formGroup" method="POST">
        <input
          id="float-input"
          type="text"
          size="30"
          formControlName="cerca"
          pInputText
        />
        <button
          type="submit"
          pButton
          icon="pi pi-search"
          style="margin-left: 0.5em;"
          (click)="cercaGlobale()"
        ></button>
      </form>
    </span>
  </div>

  <p-table [value]="lista" selectionMode="single" [(selection)]="selectedItem">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of colsAlunni">
          {{ col.header }}
        </th>
        <th>
          {{ "Società" }}
        </th>
        <th>
          {{ "Opzioni" }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-alunni let-i="rowIndex">
      <tr (click)="get(alunni)">
        <td *ngFor="let col of colsAlunni">
          {{ alunni[col.field] }}
        </td>
        <td>
          {{ this.stringSoc(alunni) }}
        </td>
        <td>
          <button
            pButton
            type="button"
            class="ui-button-raised ui-button-primary"
            (click)="showDialog(alunni)"
            icon="pi pi-info"
            id="info"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div class="row">
    <div class="ui-g-6">
      <div align="left" style="margin-top: 11px; margin-left: 8px;">
        <b *ngIf="listaTot"
          >{{ "Numero dipendenti: " }} {{ this.listaTot.length }}</b
        >
      </div>
    </div>

    <div class="ui-g-6">
      <div align="left" style="margin-top: 7px; margin-left: -120px;">
        <button
          type="button"
          pButton
          icon="pi pi-fast-backward"
          (click)="reset()"
          style="margin-right: 0.5em;"
          [disabled]="isFirstPage()"
        ></button>
        <button
          type="button"
          pButton
          icon="pi pi-chevron-left"
          (click)="prev()"
          style="margin-right: 0.5em;"
          [disabled]="isFirstPage()"
        ></button>
        <b>{{ pagine + 1 }} {{ " di " }} {{ numeroPagine }} </b>
        <button
          type="button"
          pButton
          icon="pi pi-chevron-right"
          (click)="next()"
          style="margin-right: 0.5em; margin-left: 0.5em;"
          [disabled]="isLastPage()"
        ></button>
        <button
          type="button"
          pButton
          icon="pi pi-fast-forward"
          (click)="last()"
          style="margin-right: 0.5em;"
          [disabled]="isLastPage()"
        ></button>
      </div>
    </div>
  </div>

  <div align="right" style="padding-top: 12px;">
    <app-info-alunni
      [display]="display"
      [soggetto]="selectedItem"
      (onDialogClose)="onDialogClose($event)"
    ></app-info-alunni>
  </div>
</div>
